[submodule "lib/maker-otc"]
	path = lib/maker-otc
	url = https://github.com/makerdao/maker-otc
[submodule "lib/sai"]
	path = lib/sai
	url = https://github.com/makerdao/sai
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
